:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: rgba(206, 204, 204, 0.1);
  --primary-text-color: rgba(0, 0, 0, 1);
  --secondary-text-color: rgba(255, 255, 255, 1);
  --primary-shadow-color: rgb(232, 232, 232);
  --secondary-shadow-color: rgb(58, 58, 58);
}



body {
  margin: 0;
  padding: 0; 
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

.loadingState {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
  font-size: 48px;
}

.loadingState i {
  animation: spin 2s linear infinite;
  color: rgba(0, 0, 0, 0.75);
}

@keyframes spin {
  0% {rotate: 0deg;}
  100% {rotate: 360deg;}
}

.errorState {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 64px;
}

.errorState h1{
  font-size: 64px;
}

